<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-control</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/admincontrol.css">
</head>

<body>
    <div class="nav">
        <header>
            <a href="/admin/uploadvideo">Upload</a>
            <a href="/admin/flags">Flags</a>
            <a href="/admin/users">Users</a>
        </header>
        <div class="mid">
            <img src="/static/icon.jpg" alt="">
            <p>StrangeFlix</p>
        </div>

        <div class="topnav">
            <a href="#home" class="active"></a>
            <!-- Navigation links (hidden by default) -->
            <div id="myLinks">
                <div class="adminlink">
                    <a href="/admin/home">Home</a>
                </div>
                <a href="/admin">Logout</a>
                <a href="/admin/settings">Setting</a>
            </div>
            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
    <div class="main">
        <div class="sider">
            <button onclick="single()">Solo</button>
            <button onclick="series()">Series</button>
        </div>
        <div id="middle-solo">
            <% for(var i=0;i<videoarray.length;i++) {%>
            <div id="vid">
                <img id="thumbnail" src="<%= videoarray[i].imgpath %>" alt="" onclick="play()">
                <div class="detail">
                    <p>Name:<%= videoarray[i].name %></p>
                    <p>Duration:<%=videoarray[i].duration %></p>
                    <p>Description:<%=videoarray[i].description %></p>
                    <p>Tags:<%=videoarray[i].tags %></p>
                    <p>Category:<%=videoarray[i].catagory %></p>
                </div>
                <div class="btns">
                    <button>Remove</button>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Comments</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <% for(var j=0;j<videoarray[i].comments.length;j++) {%>
                            <div id="comlist">
                                <p class="fa fa-user-circle">Username:<%=videoarray[i].comments[j].username%></p>
                                <p class="comment"><%=videoarray[i].comments[j].comment%></p>
                                <div id="flag">
                                    <% if (videoarray[i].comments[j].flag== "true") { %>
                                    <p class="fa fa-flag"></p>
                                    <button>Remove</button>
                                    <% } %>
                                </div>
                                <hr>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <div id="middle-series">
            <% for(var i=0;i<series.length;i++) {%>
            <div class="vidseries">
                <p class="series-name">Series name:<%=series[i].name %></p>
                <div class="serial">
                    <% for(var j=0;j<series[i].video.length;j++) {%>
                    <div id="vid">
                        <img id="thumbnail" src="<%= series[i].video[j].imgpath %>" alt="" onclick="play()">
                        <div class="detail">
                            <p>Name:<%= series[i].video[j].name %></p>
                            <p>Duration:<%=series[i].video[j].duration %></p>
                            <p>Description:<%=series[i].video[j].description %></p>
                            <p>Tags:<%=series[i].video[j].tags %></p>
                            <p>Category:<%=series[i].video[j].catagory %></p>
                        </div>
                        <div class="btns">
                            <button>Remove</button>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Comments</button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <% for(var k=0;k<series[i].video[j].comments.length;k++) {%>
                                    <div id="comlist">
                                        <p class="fa fa-user-circle">
                                            Username:<%=series[i].video[j].comments[k].username%></p>
                                        <p class="comment"><%=series[i].video[j].comments[k].comment%></p>
                                        <div id="flag">
                                            <% if (videoarray[i].comments[j].flag== "true") { %>
                                            <p class="fa fa-flag"></p>
                                            <button>Remove</button>
                                            <% } %>
                                        </div>
                                        <hr>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <script src="/static/fe_js/admincontrol.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>