<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-control</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/adminpage.css">
</head>

<body>
    <div class="nav">
        <header>
            <a href="/uploadvideo">Upload</a>
            <a href="/flags">Flags</a>
            <a href="/Users">Users</a>
        </header>
        <div class="mid">
            <img src="/static/icon.jpg" alt="">
            <p>StrangeFlix</p>
        </div>

        <div class="topnav">
            <a href="#home" class="active"></a>
            <!-- Navigation links (hidden by default) -->
            <div id="myLinks">
                <a href="#logout">Logout</a>
                <a href="#setting">Setting</a>
            </div>
            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
    <div class="main">
        <div class="sider">
            <button onclick="single()">Solo</button>
            <button onclick="series()">Series</button>
        </div>
        <div id="middle-solo">
            <% for(var i=0;i<videoarray.length;i++) {%>
            <img src="<%= videoarray[i].imgpath %>" alt="">
            <div class="detail">
                <p>Name:<%= videoarray[i].name %></p>
                <p>Duration:<%=videoarray[i].duration %></p>
                    <p>Description:<%=videoarray[i].description %></p>
                    <p>Tags:<%=videoarray[i].tags %></p>
                    <p>Category:<%=videoarray[i].catagory %></p>
                </div>
                <div class="btns">
                    <button>Remove</button>
                    <button>Comment</button>
                </div>
            </div>
            }%>
        </div>
        <div id="middle-series">
            <% for(var i=0;i<series.length;i++) {%>
            <p>Series name:<%=series[i].name %></p>
            <div class="serial">
                <% for(var j=0;j<series[i].video.length;j++) {%>
                    <img src="<%= series[i].video[j].imgpath %>" alt="">
                    <div class="detail">
                        <p>Name:<%= series[i].video[j].name %></p>
                        <p>Duration:<%=series[i].video[j].duration %></p>
                            <p>Description:<%=series[i].video[j].description %></p>
                            <p>Tags:<%=series[i].video[j].tags %></p>
                            <p>Category:<%=series[i].video[j].catagory %></p>
                        </div>
                        <div class="btns">
                            <button>Remove</button>
                            <button>Comment</button>
                        </div>
                    </div>    
                }%>
            </div>
            }%>
        </div>
            <script src="/static/fe_js/adminpage.js"></script>
</body>

</html>