<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video-Info</title>
    <link rel="stylesheet" href="/static/css/video-info.css">
</head>
<body>
    <p class="id">VideoID: <%- video._id %></p>
    <div class="video">
        <div class="info">
            <form method="post" action="/admin/edit/video/<%= video._id %>" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" name="title" class="form-control" value=<%= video.title %> required>
                </div>
    
                <div class="form-group">
                    <label>Price</label>
                    <div id="price">
                        <input type="text" name="sym" id="sym" value=&#x20B9; readonly>
                        <input type="number" value=<%= video.price %> name="price" id="price-value" class="form-control" min="0" required>
                    </div>
                </div>
    
                <div class="form-group">
                    <label>Duration</label>
                    <div id="duration">
                        <input type="number" name="hours" class="form-control" value=<%= video.duration.hours %> placeholder="hrs" min="0" required>
                        <input type="number" name="minutes" class="form-control" value=<%= video.duration.minutes %> placeholder="mins" min="0" required>
                        <input type="number" name="seconds" class="form-control" value=<%= video.duration.seconds %> placeholder="secs" min="0" required>
                    </div>
                </div>
    
                <div class="form-group">
                    <label>Series Name (leave blank if none)</label>
                    <input id="target" type="text" name="series"  class="form-control"  value=<%= video.series %>>
                </div>
    
                <div class="form-group">
                    <label>Description</label>
                    <textarea type="text" name="description" rows="5" cols="30" class="form-control"><%= video.description %></textarea>
                </div>
    
                <div class="form-group">
                    <label>Tags (Use "," to separate)</label>
                    <input type="text" name="tags" value=<%= video.tags %> class="form-control">
                </div>
    
                <div class="form-group">
                    <label>Category</label>
                    <input type="text" value=<%= video.category %>  name="category">
                </div>
                <input type="submit" class="btn" value="UPDATE">
            </form>
        </div>
        <img src="/<%= video.thumbnail %>" alt="">
    </div>
    <hr>
    <hr>
    <div class="commentSection">
        <div id="comlist">
            <% for(var j=0; j < video.comments.length; j++) { %>
            <p class="fa fa-user-circle">Username:<%= video.comments[j]._userId %></p>
            <p class="comment"><%= video.comments[j].content %></p>
            <div id="flag">
                <% if (video.comments[j].flagged == true) { %>
                    <p class="fa fa-flag"></p>
                    <button>Remove</button>
                <% } %>
            </div>
            <hr>
            <% } %>
        </div>
    </div>
</body>
</html>