<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User-cart</title>
    <link rel="stylesheet" href="../static/css/cart.css">
    <link rel="stylesheet" href="../static/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/mdb.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body style="background-color: black;">
    <div class="topbar">
        <a class="back" href="/home"><i class="fa fa-chevron-circle-left"></i></a>
    </div>
    <class class="display">
        <img src="../static/img/dr.jpg" alt="">
        <b>CART</b>
    </class>
    <% if (message != "") { %>
        <div class="alert alert-success" role="alert">
            <%= message %>
        </div>
    <% } %>
    <% if (error != "") { %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } %>
    <div class="selections">
        <p>Your Selections</p>
    </div>
    <div class="middle">
        <div class="videos">
            <% for(var i=0; i < cartVideo.length; i++) { %>
            <div class="content">
                <img src="/<%= cartVideo[i].thumbnail %>" alt="">
                <div class="details">
                    <p>Title: <%= cartVideo[i].title %></p>
                    <p>Category: <%= cartVideo[i].category %></p>
                    <p>Duration:<%= cartVideo[i].hrs %>:<%= cartVideo[i].min %>:<%= cartVideo[i].sec %></p>
                </div>
                <div class="btns">
                    <a class="btn btn-danger">
                        <p class="fa fa-inr" aria-hidden="true"> <%= cartVideo[i].price %></p>
                    </a>
                    <form action="/cart/remove" method="post">
                        <button class="remove">Remove from cart</button>
                    </form>
                </div>
            </div>
            <% } %>
        </div>
        <% if (totalPrice != 0) { %>
        <div class="total">
            <p>Total Videos: <%= totalCount %></p>
            <p>Total Price: <i class="fa fa-inr" aria-hidden="true"> <%= totalPrice %></i> </p>
            <form action="/payment" method="post">
                <input type="text" name="amount" value="<%= totalPrice %>" style="display: none;">
                <button class="pay">Proceed to Checkout <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </button>
            </form>
        </div>
        <% } %>
    </div>

    <%- include ("footer") %>